<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439286203758-r309uaet1flldcgtonnrbmse1csjellm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439286203758-r309uaet1flldcgtonnrbmse1csjellm</string>
	<key>API_KEY</key>
	<string>AIzaSyBlvn2RKFZlcegoNjLmwo_7usBrZJIY2i8</string>
	<key>GCM_SENDER_ID</key>
	<string>439286203758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-3a397</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-3a397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439286203758:ios:d604a969410bb591a92d7f</string>
</dict>
</plist>